table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: #000;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
