@mixin flex-center-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fadeInAnim($delay) {
    animation: fadeIn 0.5s $delay both;
}
@mixin fadeLeftAnim($delay) {
    animation: fadeLeft 0.5s $delay both;
}
@mixin text-ellipsis {
    text-overflow: ellipsis;
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}
