// COLORS
$color-primary: #ef8354;
$color-secondary-dark: #4f5d75;
$color-secondary-light: #6a7588;
$color-white: #ffffff;
$color-grey-3: #536178;
$color-grey-2: #bfc0c0;
$color-grey-1: #f6f6f6;

$color-correct: #40c94e;
$color-incorrect: #ff0000;
//FONTS
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Source Sans Pro", sans-serif;
$font-monospace: "Source Code Pro", monospace;

//BREAKPOINTS
$bp-largest: 93.75em; //1500px
