.search {
    padding: 1.5rem 13rem;
    height: 100%;

    &__heading {
        @include fadeInAnim(0s);
    }

    &__results {
        @include fadeInAnim(0.2s);
        overflow-y: auto;
        max-height: 50vh;
        margin-top: 4rem;
        padding-right: 4rem;
        padding-bottom: 4rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, 39rem);
        column-gap: 6rem;
        row-gap: 5rem;
        // border-left: 1px solid $color-primary;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
            width: 1rem;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: $color-primary;
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        bottom: 3.7rem;
        left: 50%;
        z-index: 100;

        transform: translateX(-50%);
    }
}

.song {
    display: flex;
    cursor: pointer;
    color: $color-grey-3;
    position: relative;
    transition: all 0.2s;
    // border: 5px solid $color-grey-2;
    // background-color: $color-grey-1;

    &::before,
    &::after {
        content: "";
        display: block;

        position: absolute;
        right: 0;
        // opacity: 0;
        width: 3rem;
        height: 3rem;
        border-right: 2px solid rgba($color: $color-secondary-dark, $alpha: 0.3);
    }

    &::before {
        top: 0;
        border-top: 2px solid rgba($color: $color-secondary-dark, $alpha: 0.3);
    }

    &::after {
        bottom: 0;
        border-bottom: 2px solid rgba($color: $color-secondary-dark, $alpha: 0.3);
    }

    &--disabled {
        opacity: 0.5 !important;
        cursor: not-allowed;
    }

    &__album-cover {
        min-width: 12rem;
        max-width: 12rem;
        height: 12rem;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            display: block;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 12rem;
            height: 12rem;
            border: 0.6rem solid $color-primary;
            background-color: rgba($color: $color-primary, $alpha: 0.6);

            transition: all 0.2s;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        display: block;

        transition: all 0.2s;
    }

    &__icon {
        position: absolute;
        fill: $color-primary;
        opacity: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 7.5rem;
        height: 7.5rem;

        transition: all 0.2s;
    }

    &__info {
        margin-left: 1.8rem;

        display: grid;
        grid-template-rows: auto auto 1fr;
        align-items: flex-end;

        padding: 0.5rem 1rem 0.5rem 0;
        position: relative;
    }

    &__explicit {
        position: absolute;
        width: 3.5rem;
        right: 0.5rem;
        bottom: 0.3rem;
        opacity: 0.8;
    }

    &__warning {
        width: 100%;
    }

    &__title {
        font-size: 2.8rem;
        line-height: 1;
        margin-bottom: 1rem;
    }

    &__artist {
        font-size: 1.8rem;
        font-weight: 200;
    }

    &__words {
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-primary;
    }

    &:not(.song--disabled):hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 4px 4px 24px -6px rgba(0, 0, 0, 0.5);

        &::before,
        &::after {
            opacity: 0;
        }
    }

    &:not(.song--disabled):hover &__title {
        color: white;
    }

    &:not(.song--disabled):hover &__words {
        color: white;
    }

    &:not(.song--disabled):hover &__icon {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &:not(.song--disabled):hover &__album-cover {
        &::after {
            opacity: 1;
        }
    }

    &:not(.song--disabled):hover &__img {
        transform: scale(0.97);
    }
}
