.summary {
    padding: 0 10rem;
    margin-top: 5rem;

    &__heading {
        @include fadeInAnim(0s);
    }

    &__artist {
        font-weight: 200;
        font-size: 2.1rem;
        @include fadeInAnim(0s);
        max-width: 50%;
        text-overflow: ellipsis;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "table chart" "buttons buttons";
    }

    &__content {
        grid-area: table;
        width: 80%;
        margin-top: 5rem;
        @include fadeInAnim(0.1s);
    }

    &__table {
        font-size: 2.2rem;
        width: 100%;
        background-color: $color-grey-1;

        tr {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        tr:nth-child(odd) {
            background-color: rgba($color: $color-primary, $alpha: 0.2);
        }

        td {
            padding: 0.6rem 1rem;
        }

        td:first-child {
            font-weight: bold;
        }
    }

    &__score {
        font-size: 2.3rem;
        color: $color-primary;
        width: 100%;
        font-weight: bold;
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__chart {
        @include fadeInAnim(0.2s);
        grid-area: chart;
        background-color: rgba($color-grey-1, 0.6);
        // display: flex;
        // align-items: center;
        // justify-content: center;
    }

    &__canvas {
        // width: 50%;
        // height: 100%;
        @include fadeInAnim(0.4s);
    }

    &__buttons {
        grid-area: buttons;
        @include fadeInAnim(0.3s);
        display: flex;
        margin-top: 4rem;
    }

    &__cta {
        margin-right: 2.5rem;
        @include fadeInAnim(0.5s);
    }
}
