.cta {
    &--dark {
        background-color: $color-secondary-light;
        border: 3px solid $color-secondary-light;
    }
    &--light {
        background-color: $color-primary;
        border: 3px solid $color-primary;
    }

    border-radius: 1.3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.45rem 2.2rem;
    cursor: pointer;

    &__icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: $color-white;
        margin-right: 2.5rem;
    }

    &__text {
        color: $color-white;
        font-weight: bold;
        font-size: 2rem;
    }

    &:hover {
        background-color: $color-grey-1;
    }

    &--dark:hover &__text {
        color: $color-secondary-light;
    }

    &--dark:hover &__icon {
        fill: $color-secondary-light;
    }

    &--light:hover &__text {
        color: $color-primary;
    }

    &--light:hover &__icon {
        fill: $color-primary;
    }

    &:active {
        transform: translateY(2px);
    }

    & > * {
        pointer-events: none;
    }
}
