.pagination {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);

    &__item {
        font-size: 1.9rem;
        font-weight: bold;
        cursor: pointer;

        width: 3rem;
        height: 3rem;
        border-radius: 5px;
        margin: 0 0.2rem;

        &:hover,
        &--current a {
            background-color: $color-primary;
            color: $color-white !important;
            border-radius: 5px;
        }

        a {
            width: 100%;
            height: 100%;
            @include flex-center-center;
        }
    }

    &__item:hover > &__icon {
        fill: $color-white;
    }

    &__icon {
        width: 2.6rem;
        height: 2.6rem;
        fill: #000;
    }
}
