.footer {
    position: absolute;
    bottom: 0;
    margin-top: auto;
    padding-bottom: 0.5rem;
    right: 2rem;
    opacity: 0.7;
    z-index: 100;

    &__copyright {
        width: 40%;
        display: block;
        margin-left: auto;
    }

    &__img {
        width: 100%;
    }
}
