.header {
    width: 100%;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 6rem;
    z-index: 100;

    // @include flex-center-row;
    &__logo {
        width: 17rem;
    }

    &__logo-img {
        width: 100%;
    }

    &__cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.menu-button {
    @include burger(25px, 3px, 5px, $color-primary);
}

.menu-button.is-active .burger-icon {
    @include burger-to-cross;
}
