.header {
    width: 100%;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    column-gap: 6rem;

    z-index: 100;

    // @include flex-center-row;

    &__logo {
        width: 17rem;
    }

    &__logo-img {
        width: 100%;
    }
}
