.nav {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 1.5rem;

        list-style-type: none;
    }

    &__list-item {
        &:hover,
        &--active {
            a {
                color: $color-primary;
            }
            a:before {
                width: 100%;
            }
        }
    }

    &__list-link {
        position: relative;
        font-size: 2rem;
        transition: color 0.2s;

        &:before {
            width: 0;
            content: "";
            display: block;
            height: 2px;
            position: absolute;
            bottom: -2px;
            left: 0;
            background-color: $color-primary;

            transition: width 0.2s;
        }
    }
}
